.root {
    -fx-font-family: "Roboto";
    error-color: #D34336;
    dark-primary-color: #E86A00;
    primary-color: #FF9800;
    light-primary-color: #FFCB00;
    accent-color: #FF4F00;
    primary-text-color: #212121;
    secondary-text-color: #727272;
    text-icons: #212121;
    divider-color: #B6B6B6;
}


.main-window {
    -fx-padding: 0;
    -fx-background-position: left top, left 19px top 15px ;
    -fx-background-insets: 2,2,2,2;
    -fx-background-color: white;
    -fx-border-color: dark-primary-color;
    -fx-border-width: 3;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: dark-primary-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: dark-primary-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-rippler:hover {
    -fx-cursor: hand;
}

.label {
	-fx-text-fill: primary-text-color;
	-fx-label-padding: 5,5,5,5;
	-fx-font-family: "Roboto";
	-fx-font-size: 14;
}

.jfx-button-raised {
    -fx-background-color: accent-color;
    -fx-background-insets: 1,1,1,1;
    -fx-border-width: 3;
    -fx-padding: 3;
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
}

/*
* JFX TextField
*/

.jfx-text-field, .jfx-password-field {
    -fx-background-color: transparent;
    -fx-font-weight: normal;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-max-width: 300.0;
    -fx-font-family: "Roboto";
    -fx-pref-width: 300.0;
    -jfx-color: primary-text-color;
}

.jfx-text-field:error {
    -jfx-focus-color: error-color;
    -jfx-unfocus-color: error-color;
}

.error-label {
    -fx-text-fill: error-color;
    -fx-font-size: 0.75em;
}

.viewport {
    -fx-border-width: 1;
    -fx-border-color: light-primary-color;
}

.jfx-text-area .viewport {
    -fx-background-color: white;
    -fx-font-family: "Roboto";
}

/**
* TAB PANE
**/

.jfx-tab-pane .tab-header-background {
    -fx-background-color: primary-color;
}

/**
* ScrollBar
**/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M7,10L12,15L17,10H7Z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M7,15L12,10L17,15H7Z";
}

.error-icon {
    -fx-fill: error-color;
    -fx-font-size: 1.0em;
}

/**
* SPINNERS
**/

.jfx-spinner {
    -jfx-radius: 40;
}

.jfx-spinner > .arc{
    -fx-stroke-width: 5.0;
    -fx-fill: transparent;
    -fx-stroke: primary-color;
}

