.root {
    -fx-font-family: "Roboto";
    dark-primary-color: #00796B;
    primary-color: #009688;
    light-primary-color: #B2DFDB;
    accent-color: #CDDC39;
    primary-text-color: #212121;
    secondary-text-color: #727272;
    text-icons: #FFFFFF;
    divider-color: #B6B6B6;
}


.main-window {
    -fx-padding: 0;
    -fx-background-position: left top, left 19px top 15px ;
    -fx-background-insets: 2,2,2,2;
    -fx-background-color: white;
    -fx-border-color: dark-primary-color;
    -fx-border-width: 3;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: dark-primary-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: dark-primary-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-rippler:hover {
    -fx-cursor: hand;
}

.label {
	-fx-text-fill: primary-text-color;
	-fx-label-padding: 5,5,5,5;
	-fx-font-family: "Roboto";
	-fx-font-size: 14;
}

.jfx-button-raised {
    -fx-background-color: accent-color;
    -fx-background-insets: 1,1,1,1;
    -fx-border-width: 3;
    -fx-padding: 3;
    -fx-text-fill: text-icons;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
}

/*
* JFX TextField
*/

.jfx-text-field, .jfx-password-field {
    -fx-background-color: transparent;
    -fx-font-weight: normal;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-max-width: 300.0;
    -fx-font-family: "Roboto";
    -fx-pref-width: 300.0;
    -jfx-focus-color: primary-text-color;
    -jfx-unfocus-color: secondary-text-color;
}

.jfx-text-area .viewport {
    -fx-border-width: 2;
    -fx-border-color: accent-color;
    -fx-background-color: text-icons;
    -fx-font-family: "Roboto";
}

/*
* ScrollBar
*/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}
